//like_area-(post_id名)というidが付いているdivの中にunlikeボタンを入れる
| $('#like_area-#{@post.id}').html("#{escape_javascript(render 'like', post: @post)}")

// | $('#like_area-#{@post.id}').html("#{j render('like', post: @post)}")
